body{
  font-size: 16px;
  color: #333333;
  margin:0px;
  font-family: Helvetica, Arial, sans-serif;
}
  header{
    background-color: #29487d;
  }
 .icons{
	background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/KuTmU9Y4htf.png);
    background-size: auto;
	background-repeat: no-repeat;
    display: inline-block;
 }	 
  .header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
  }
   .fb_logo .logo i{
	color:white;
	width: 170px;
    height: 34px;
    background-position: 0 -245px;
  }
  .text-image-register{
  background: linear-gradient(white, #D3D8E8);
  }
  
  .login_form{
    color: white;
    display: flex;
  }
  .login_form label{
	 font-size:12px;
  }
  .login-email,.login-password{
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  }
  .login-password a{
    color: #9cb4d8;
    cursor: pointer;
	font-size:12px;
    text-decoration: none;
		line-height:1.34;
		margin-top:2px;
  }
  .login-password a:hover{
    text-decoration: underline;
  }
  .login-button{
      line-height: 1.25em;
    /*  background-color: #29487d;*/
	  
	  background-color: #4267b2;
	  border-color: #29487d;
      color: white;
      margin-top: 13px;
      border: 1px solid #29487d;
      font-weight: bold;
      line-height: 18px;
      padding: 1px 5px;
      text-align: center;
      text-decoration: none;
  }
  .text-and-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text-before-image{
      color: #0e385f;
      font-size: 20px;
      font-weight: bold;
      line-height: 29px;
      margin-top: -150px;
  }
  .text-image-register{
    display: flex;
  }
  .user-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .text-and-image{
    margin-left: 150px;
  }
  .register-form{
    margin-right: 100px;
    width: 400px;
  }
  .register-subheading{
    font-size: 19px !important;
    font-weight: unset;
    margin-bottom: 20px !important;
    margin-top: -20px;
  }
  .disclaimer{
    font-size: 11px;
  }
  .enter-name input{
    width: 190px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
      padding: 8px 10px;
      height: 35px;
      border: 1px solid #bdc7d8;
      
  }
  .enter-email input,.enter-password input{
    width: 390px;
    box-sizing: border-box;
      border-radius: 5px;
      font-size: 18px;
      padding: 8px 10px;
      height: 35px;
      border: 1px solid #bdc7d8;
  }
  
  .register-form input::placeholder {
    font-size: 18px;
    padding: 8px 10px;
  }
  placeholder{
    font-size: 18px;
      padding: 8px 10px;
  }
  .user-details .grey-text{
      color: #90949c;
      font-size: 16px;
      font-weight: bold;
  }
  .user-details div{
    margin-bottom: 10px;
  }
  form h1{
    line-height: 1.3em;
  }
  
  .signup-button{
    background-image: linear-gradient(rgb(121, 188, 100), rgb(87, 136, 67));
    width: 190px;
    margin-top: 5px;
      padding: 7px 20px;
      text-align: center;
      border-radius: 5px;
      line-height: 126%;
      color: white;
  }
  
  .disclaimer{
    width: 325px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px !important;
    color: #777; 
    font-weight: normal !important;
  }
  .advertisement{
    font-size: 13px !important;
    font-weight: normal;
  }
  .disclaimer a,.advertisement a {
    color:#385898;
	font-size:13px!important;
	line-height: 1.34;
	text-decoration: none;
  }
  .disclaimer a:hover,.advertisement a:hover{
      text-decoration: underline;
  }
  .questionmark{
      width: 16px;
      height: 16px;
      background-position: -194px -280px;
  }
  .birth-day select{
    font-size: 13px;
      height: 30px;
      padding: 5px;
  }
  .footer-container{
	display:flex;
	justify-content:center;
	flex-direction:column;
	width:65%;
	 margin:10px auto;
  }

  .footer-container ul{
	  margin:0;
	  padding:0;
	  list-style:none;
  }
  .footer-container .languages{
	margin-top:2rem;
	padding-bottom:.5rem;
	border-bottom:2px solid #dddfe2;
  }
  
  .footer-container ul li{
	  display:inline;
	  margin-right:5px;
	  font-size: 12px;
	  color:#385898;
	  cursor:pointer;
  }
   .footer-container ul li:hover{
	   text-decoration: underline;
   }
  
  